<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <!-- Исключаем сгенерированный код -->
          <ExcludeByAttribute>CompilerGeneratedAttribute,GeneratedCodeAttribute</ExcludeByAttribute>
          
          <!-- Исключаем конкретные namespace -->
          <Exclude>[ScenarioDesigner]Microsoft.AspNetCore.OpenApi.Generated</Exclude>
          
          <!-- Формат отчёта -->
          <Format>cobertura</Format>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>